$icomoon-font-path: "fonts" !default;

$icon-rhombus: "\e906";
$icon-support: "\e915";
$icon-angle-up: "\e902";
$icon-angle-down: "\e905";
$icon-plane: "\e900";
$icon-clock-o: "\e901";
$icon-phone: "\e908";
$icon-facebook: "\e90b";
$icon-instagram: "\e90c";
$icon-twitter: "\e90d";
$icon-feed2: "\e903";
$icon-pinterest: "\e904";

