.quote{
	display: flex;
	align-items: center;
	padding-top: 60px;
	margin-bottom: 20px;
	@media screen and (min-width: 768px){
		padding: 36px 0 27px 0;
		align-items: stretch;
	}
	@media screen and (min-width: 1420px){
		padding: 36px 0 29px 0;
	}
	&-image{
		max-width: 40%;
	}
	&-text{
		padding: 0 0 0 15px;
		align-self: center;
		line-height: $line-height-quote;
		@media screen and (min-width: 768px){
			padding-top: 80px;
		}
		@media screen and (min-width: 1420px){
			padding-top: 86px;
		}
		blockquote{
			font-family: $second-font-family;
			font-size: $font-size-lg;
			font-style: italic;
			margin-bottom: 20px;
			@media screen and (min-width: 768px){
				margin-bottom: 37px;
			}
			@media screen and (min-width: 1420px){
				margin-bottom: 48px;
			}
		}
		cite{
			font-family: $second-font-family;
			font-size: $font-size-h2;
			font-style: italic;
			color: $text-inverse-color;
			font-weight: 700;
			display: block;
			margin-bottom: 6px;
		}
		p{
			color: #7f7e7e;
			font-weight: 700;
		}
	}
	&-right{
		justify-content: flex-end;
		.quote-image{
			margin-top: -9px;
		}
		.quote-text{
			padding-right: 6px;
			cite{
				margin: -4px 7px 10px 0;
			}
		}
	}
}