.block-brands-inner{
  display: flex;
 	justify-content: space-around;
  align-items: center;
 	flex-wrap: wrap;
 	.container-brand-img{
    width: 49%;
    margin-bottom: 25px;
 	  @media screen and (min-width: 768px){
      width: 33%;
    }
    @media screen and (min-width: 960px){
      width: 16%;
     }
   }
}
