.btn{
	position: relative;
	padding: $btn-padding-vertical $btn-padding-horizontal;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	text-transform: uppercase;
	color: $btn-color;
	border: none;
	display: inline-block;
	font-family: inherit;
	margin: 20px;
	text-align: center;
		&:hover,
		&:focus{
			text-decoration: none;
		}
	&-trapeze{
		background: $btn-trapeze-bg;
		color:$btn-color;
			&:hover,
			&:focus{
				background: $btn-trapeze-bg-hover;
				color: $btn-color;	
			}
			&:before, &:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: $btn-trapeze-bg;
				z-index: -1;
			}
			&:hover:before, &:hover:after{
				background: $btn-trapeze-bg-hover;
			}
			&:before{
				bottom: 0;
				top: 0;
				left: -15px;
				right: 0px;
				webkit-transform: skew(-35deg);
   				 -ms-transform: skew(-35deg);
   				 transform: skew(-35deg);
			}
			&:after{
				bottom: 0;
				top: 0;
				left: 15px;
				right: 0;
				webkit-transform: skew(35deg);
    			-ms-transform: skew(35deg);
   				 transform: skew(35deg);
			}
	}
	&-brand{
		background: $btn-brand-bg;
		color: $btn-color;
			&:hover,
			&:focus{
				background: $btn-brand-bg-hover;
				color: $btn-color;	
			}
	}
	&-dark{
			background: $btn-dark-bg;
			color:$btn-color;
				&:hover,
				&:focus{
					background: $btn-dark-bg-hover;
					color: $btn-color;	
				}
	}
	&-lg{
		padding: $btn-lg-padding-vertical $btn-lg-padding-horizontal;
		font-size: $btn-lg-font-size;
	}
	&-sm{
		font-size: $btn-sm-font-size;
	   	 padding: $btn-sm-padding;
	}
	&-dark-sm{
		font-size: $btn-dark-sm-font-size;
	    padding: $btn-dark-sm-padding;
	}
	
}