.labels {
	padding: 4% 3% 4% 3%;
	position: absolute;
	border-radius: 50%;
	top:2%;
    left: 2%;
    	span{
     		display: inline-block;
     			em{
     			 	display: inline-block;
      			  	vertical-align: top;
     				font-size: 22px;
     			}
				sup{
					display: inline-block;
					font-size: 11px;
				}
		}
	@media screen and (max-width: 768px){
     	span{
     		em{
     			font-size: 4vw;
     		}
			sup{
				font-size: 2vw;
			}
 		 }
	}
	&-brend{
		background: $lebels-bg;
	}
}