.labels {
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 50%;
	top:5%;
    left: 5%;
    z-index: 5;
    @media screen and (min-width: 1420px){
    	width: 60px;
		height: 60px;
    }
	em{
		font-size: 22px;
	}
	sup{
		font-size: 11px;
	}
	&-brand{
		background: $lebels-bg;
	}
}