.list{
	display: flex;

	&-header{
		.hide{
			display: none;
			@media screen and (min-width: 768px){
				display: block;
			}
		}
		li{
			&:last-child{
				a{
					padding-right: 0;
					&:after{
						display: none;
					}
				}
			}
			a{
				padding-left: 33px;
				padding-right: 27px;
				position: relative;
				@media screen and (min-width: 1420px){
					padding-left: 35px;
					padding-right: 35px;
				}
				&:hover{
					color: darken($preheader-color, 10%);
					text-decoration: none;
				}
				&:after{
					content: "";
					position: absolute;
					top: 3px;
					bottom: -1px;
					right: 0;
					border-left: 1px solid $preheader-color;
				}
			}
		}
	}
	&-nav{
		display: none;
		&.open{
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display: block;
				text-align: center;
				&.active{
					a{
						box-shadow: inset 0 0 2px 1px $brand-color;
					}
				}
				a{
					color: $nav-link-color;
					font-size: $font-size-lg;
					text-transform: uppercase;
					text-decoration: none;
					padding: 15px 20px;
					display: block;
					font-weight: 700;
					&:hover{
						box-shadow: inset 0 0 2px 1px $brand-color;
					}
				}
			}
		}
	}
	&-social{
		li{
			&:last-child{
				a{
					margin-right: 0;
				}
			}
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				border: 2px solid $brand-color;
				margin-right: 12px;
				[class*="icon-"]{
					color: $brand-color;
				}
				&:hover{
					text-decoration: none;
					background: $brand-color;
					[class*="icon-"]{
						color: $text-color;
					}
				}
				@media screen and (min-width: 1420px){
					width: 35px;
					height: 35px;
				}
			}
		}
		&-inverse{
			justify-content: center;
			@media screen and (min-width: 960px){
				justify-content: flex-start;
			}
			li{
				a{
					border: none;
					background: $text-color;
					margin-right: 10px;
					@media screen and (min-width: 768px){
						margin-right: 18px;
					}
					@media screen and (min-width: 1420px){
						margin-right: 15px;
					}
					[class*="icon-"]{
						color: $footer-bg;
					}
					&:hover{
						background: $brand-color;
						[class*="icon-"]{
							color:  $footer-bg;
						}
					}
				}
			}
		}
		&-lg{
			li{
				a{
					width: 46px;
					height: 46px;
					@media screen and (min-width: 1420px){
						width: 51px;
						height: 51px;
					}
				}
			}
		}
	}
	&-arrow{
		width: 100%;
		padding: 17px 0;
		justify-content: flex-start;
		position: relative;
		z-index: 1;
		@media screen and (min-width: 1420px){
			padding: 20px 0;
		}
		.list-caption{
			h2{
				color: $text-color;
				margin-bottom: 7px;
				font-size: $font-size-h3;
				@media screen and (min-width: 1124px){
					font-size: $font-size-h2;
				}
			}
		}
		&-right,
		&-left,
		&-center{
			.list-image{
				margin: 0 20px 0 40px;
				@media screen and (min-width: 768px){
					margin-left: 10px;
					margin-top: 5px;
				}
				@media screen and (min-width: 1420px){
					margin-left: -7px;
				}
			}
		}
		&-right,
		&-left{
			background: $brand-color;	
		}
		&-center{
			background: $text-inverse-color;
		}
		@media screen and (min-width: 768px){
			width: 33.5%;
			justify-content: center;
			&:before,
			&:after{
				content: "";
				position: absolute;
			}
			&-right,
			&-left{
				background: transparent;
				&:before,
				&:after{
					height: 51%;
					top: 0;
					background: $brand-color;
					z-index: -1;
				}
				&:after{
					bottom: 0;
					top: auto;
				}
			}
			&-center{
				width: 28.5%;
				background: transparent;
				.list-caption{
					margin-top: -3px;
				}
				&:before,
				&:after{
					width: 100%;
					height: 100%;
					top: 0;
					background: $text-inverse-color;
					transform: skew(-39deg);
					left: 0;
					z-index: -1;
				}
				&:after{
					transform: skew(39deg);
					left: auto;
					right: 0;
				}
			}
			&-right{
				justify-content: flex-start;
				.list-image{
					margin: 5px 32px 0 32px;
				}
				&:before,
				&:after{
					left: -10%;
					right: 5%;
					transform: skew(41deg);
				}
				&:after{
					transform: skew(-41deg);
				}
			}
			&-left{
				.list-image{
					margin: 5px 27px 0 -20px;
				}
				.list-caption{
					margin-top: -5px;
				}
				&:before,
				&:after{
					right: -10%;
					left: 5%;
					transform: skew(-41deg);
				}
				&:after{
					transform: skew(41deg);
				}
			}
		}	
	}
	&-footer{
		flex-direction: column;
		margin-bottom: 20px;
		display: inline-block;
		text-align: left;
		@media screen and (min-width: 960px){
			margin-bottom: 0;
			padding-left: 0;
		}
		li{
			color: $footer-color;
			margin-bottom: 11px;
			@media screen and (min-width: 1420px){
				margin-bottom: 13px;
			}
		}
	}
}