#toTop {
	display: none;
	&.open{
		display: block;
		background:$scrolltop-bg;
		text-align:center;
		padding: $scrolltop-padding;
		position:fixed;
		bottom:20px; 
		right:20px;
		font-size: $scrolltop-fz;
		cursor:pointer;
		border-radius: 2px;
		@media screen and (min-width: 960px){
			bottom:153px; 
			right:70px;
		}
		&:hover,
		&.active{
			text-decoration: none;
			background: lighten($scrolltop-bg, 10%);
		}
	}

}