.container-lg{
  max-width: 1470px;
}
.container-slider{
 position: relative;
 max-width: 100%;	
 margin: 0 auto;
	.slider-sale{
		&-main{
			position: relative;
				.slider-img{
					img{
						width: 100%;
	 				}
				}
        &-caption{
          position: absolute;
          top: 20.78%;
          left: 50%;
          transform: translateX(-47%);
          display: flex;
          flex-direction: column;
          @media screen and (min-width: 1420px){
            top: 15.5%;
          }
        }	
			}
		}
.slider-arrows{
	display: flex;
	justify-content: center ;
	position: absolute;
	left: 50%;
	bottom: 4%;
  transform: translateX(-58%);
   .pager{
    .bx-pager-item {
     display: inline-block; 
     
     a{
      position: relative;
      display: block;
      height: 21px;
      width: 21px;
	   color: transparent;
     margin-right: 4px;
      &:hover,
      &.active{
       &:before{
        color: $pager-hover-color;
       }
      }
      &:before{
       content: "\e906";
       font-family: 'icomoon';
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       font-size: 19px;
        color: $pager-color;
       z-index: 20;
      }
     }
    }
  }
 }
}
