
.tumbnail{
  position:relative;
    img{
     width: 100%;
    }
  &-border{
    &:before{
      content: '';
      position: absolute;
      border: 2px solid $thumb-border;
      bottom: 29px;
      right: 22px;
      left: 22px;
      top: 24px;
      cursor: pointer;
    }
    .btn{
      display: none;
    }
    &:hover{
      &:before{
        border: 2px solid transparent;
        background: rgba(50,48,48,.2);
        z-index: 1;
      }
      .btn{
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 16%;
        z-index: 2;
        @media screen and (min-width: 768px){
          transform: translateX(-58%);
        }
      }
      .thumb-image{
        position: relative;
        &:before,
        &:after{
          content: "";
          position: absolute;
          top:47%;
          left: 49%;
          
        }
        &:before{
          height: 60px;
          border-left: 1px solid $brand-color; 
          transform: translateY(-50%);
        }
        &:after{
          width: 60px;
          border-top: 1px solid $brand-color;
          transform: translateX(-50%);
        }
      }
    }
  }
  &-shadow{
     position: relative;
    .btn{
     display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-57%);
      bottom: 0px;
      z-index: 2;
    }
     &:hover{
       &:before {
          content: '';
          background: $thumb-bg-shadow;
          z-index: 1;
          position: absolute;
          bottom: 0px;
          right: 0px;
          left: 0px;
          top: 0px;
          cursor: pointer;
        }
        .btn{
          &:before,
          &:after{
            background: $btn-trapeze-bg-hover;
          }
        }
      }
  }
}