$brand-color: 			#d9bf8f;

$body-bg:               #fff;
$block-brand-bg:		$brand-color;
$text-color:            #fff;
$text-inverse-color:    #000;
$link-color:            $text-color;
$link-hover-color:      darken($link-color, 10%);
$link-hover-decoration: underline;


//Typography
$font-family-base:        'Lato',  Helvetica, Tahoma, sans-serif !default;
$second-font-family:      'Playfair Display', serif, Helvetica, Tahoma, sans-serif;
$font-size-base:          14px;
$font-size-sm:            11px;
$font-size-lg:			  18px;
$line-height-base:        1.285714;
$line-height-quote:       1.6662983;
$font-weight-base:        400;

$headings-font-weight:    700;
$headings-font-family:    $second-font-family;
$headings-color:          $text-inverse-color;

$nav-link-color:		  $text-inverse-color;

$preheader-bg:	          #f2f2f2;
$preheader-color:         #393939;

$font-size-h1:            floor(($font-size-base * 4.21428)); // ~59px
$font-size-h2:            floor(($font-size-base * 2.142857)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.142857)); // ~16px

//Buttons
$btn-font-size:                  1.3vw;
$btn-sm-font-size:               1.2vw;
$btn-lg-font-size:               2vw;
$btn-dark-sm-font-size:          12px;
$btn-color:						$text-color;
$btn-font-weight:                700;
$btn-padding-vertical:           12px;
$btn-padding-horizontal:         13px;
$btn-sm-padding:      		     14px 0px 11px 0px;
$btn-lg-padding-vertical:        13px;
$btn-lg-padding-horizontal:      31px;
$btn-dark-sm-padding:     			 9px 15px 8px 22px;
$btn-brand-bg:                   #f09d66;
$btn-brand-bg-hover:             darken($btn-brand-bg, 10%);
$btn-trapeze-bg:                 $text-inverse-color;
$btn-trapeze-bg-hover:           #f0975c;
$btn-dark-bg:                   #494747;
$btn-dark-bg-hover:             darken($btn-dark-bg, 10%);


//icons
$icon-font-size-base:			15px;
$icon-font-size-md:				24px;
$icon-font-size-lg:				48px;
$icon-font-size-mlg:			30px;

// Forms
$input-bg:                       transparent;
$input-color:                    #6a6a6a;
$input-border:                   #484848;
$input-color-placeholder:        $input-color;
$input-padding-horizontal:		 20px;
$input-height-base:              42px ;
$input-font-size:                12px;
$input-border-width:             1px;


//footer
$footer-color:					#737373;
$footer-copywrite-color:        #363636;
$footer-bg:						#141414;


//thumbnail
$thumb-border:            #fff;
$thumb-bg:                 $btn-dark-bg;
$lebels-bg:               #feab12;