@import 'modules/variables';
@import 'modules/grid';
@import 'modules/mixins';
@import 'modules/reset';
@import 'modules/type';

@import 'modules/icons/variables';
@import 'modules/icons/style';


@import 'modules/blocks';
@import 'modules/lists';
@import 'modules/navigation';
@import 'modules/help-classes';
@import 'modules/blockquote';
@import 'modules/select';
@import 'modules/buttons';
@import 'modules/lebels';
@import 'modules/brand';
@import 'modules/form';
@import 'modules/scrolltop';
@import 'modules/slider';
@import 'modules/tumbnail';
@import 'modules/jumbotron';
.pp{
	position: absolute;
	top: 0;
	opacity: 0.5;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	pointer-events: none;
	z-index: 999;
}